<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload Image</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid" style="width: 50vw;">
    <form action="/upload/cpupdatemedia" method="post" enctype="multipart/form-data">
        <label class="form-label" for="customFile">Profile</label>
        <input type="file" class="form-control" name="profilepic" accept=".jpg,.png,.jpeg,.webp" />
        <input type="submit" value="submit">
    </form>
    <h1><%=data.msg%></h1>
</div>
</body>

</html>