<!DOCTYPE html>
<html lang="en">
<!-- Find Job Page -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome : <%=data.cpfname%>
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="/static/B5/css/bootstrap.css">

    <script src="/static/B5/js/bootstrap.bundle.js"></script>
   -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

  <style>
    .ipw {
      width: 50%;
    }

    .activtab {
      text-decoration: blue underline;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Job Boarding for employer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active activtab" aria-current="page" href="/cpprofile">Post Job</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cpprofile/postedjob">Posted Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/salaryguide">Responses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/postresume">Messages</a>
          </li>
        </ul>

        <input type="hidden" id="CPNAME" name="CPNAME" value="<%=data.cpname%>">

        <li class="nav-item dropdown" style="list-style: none;">
          <a class="navbar-brand dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/static/img/download.jfif" alt="ProfileImage" width="30" height="24"
              class="d-inline-block align-text-top">
            <b>
              <%= data.cpname%>
            </b>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Messages!</a></li>
            <li><a class="dropdown-item" href="#">Company Reviews</a></li>
            <li><a class="dropdown-item" href="#">Subscripton</a></li>
            <li><a class="dropdown-item" href="#">Manage Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">LogOut</a></li>
          </ul>
        </li>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>

    </div>
  </nav>
